<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA Compatible" content="IE-edge" />
    <meta
      name="viewport"
      content="width-device-width,
    initial-scale=1.0"
    />
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="image-container">
        <img src="/image/Logo.png" alt="Login Image" id="login-image" />
      </div>
    <div class="wrapper">
      <h1>Login</h1>
      <div class="input-box">

        <input type="text" placeholder="Email" name="email" id="email" required />
        <input type="password" placeholder="password" name="password" id="password" class="password-container disabled" disabled required />

      </div>
      <div class="ButtonContainer">
        <div class="Button Disable" id="Button">Send Token</div>
      </div>

      <div class="WarningText"></div>
    </div>
    <script src="/js/login.js" ></script>
  </body>
</html>